@model DaggerheartCharsheet.Core.Models.Sheets.Core.SeraphSheet

@{
    ViewBag.Title = "Seraph Sheet";
    Layout = "_Layout";
}
<form method="post" action="/test" >
    <div class="ch-header">
        <div class="ch-class">
            @await Html.PartialAsync("Sections/CommonInfo", Model)
        </div>
        <div class="ch-basicInfo">
            <article>
                <p>some info here later</p>
            </article>
        </div>
    </div>
    <button type="submit">test submit</button>
</form>